body{
    margin: 0;
    top: 0;
}
.taskbar{
    background-color: rgb(92, 69, 50) !important;
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: center;
    position :fixed;
    z-index: 999;
}
#tasklink{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 2rem;
}
a{
    color: white;
    text-decoration:none;
}
a img{
    width: 70px;
    height: 70px;
}
li :hover{
    font-weight: bolder;
    font-size: 110%;
}
